.first{
    /* height: 15vh; */
    background-color: green;
    padding: 20px;
}

.lists ul{
    display: flex;
    list-style: none;
    gap: 10px;
    font-weight: bold;
    
}
.lists ul li a{
    text-decoration: none;
    color: black;
}

.lists{
    display: flex;
    justify-content: center;
    align-items: center;
   
}


.but1{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: end;
    align-items: center;
}
.but1 button{
    background-color: blue;
    padding: 15px 15px;
    border: none;
    color: white;
    font-weight: bold;
}

.f-1{
    display: flex;
}

.f-1 p{
    line-height: 1.9;
}


.fff1{
    padding: 50px;
}

.card{
    border: apx solid red;
    /* height: 50vh; */
    padding: 30px;
    background-color: whitesmoke;
}
.card:hover{
    background-color:#921292;

}

.ll ul{
    list-style: none;
    line-height: 2.3;
    
    
}

.card .bb button{
    padding: 10px 15px;
    background-color: blue;
    color: white;
    border: none;
    font-weight: bold;
}

.ll ul li::before{
    content: "\2713";
    color: #43baff;
}


.seven{
    /* height: 25vh; */
    background-color: black;
    /* width: 100%; */
    padding: 20px;
    

}

.eight{
    background-color: blue;
    /* height: 65vh; */
    padding: 30px;
}

.eight p{
    line-height: 1.9;
}

.ph{
    margin-top: 100px;
}

.ph button{
    padding: 15px 15px;
    color: white;
    font-weight: bold;
    background-color: palevioletred;
    font-size: 20px;
    border: none;
}





